<div class="sidebar open">
    <div class="logo-details">
      <i class='bx bx-cube-alt icon'></i>
      <div class="logo_name">CarChain</div>
      <i class="bx bx-menu bx-menu-alt-right" id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="/admin/users">
          <i class="bx bx-user"></i>
          <span class="links_name">Users</span>
        </a>
        <span class="tooltip">Users</span>
      </li>
      <li>
        <a href="/admin/workshops">
          <i class="bx bx-chat"></i>
          <span class="links_name">Workshops</span>
        </a>
        <span class="tooltip">Workshops</span>
      </li>
      
      <li>
        <a href="/admin/vehicles">
          <i class="bx bx-car"></i>
          <span class="links_name">Vehicles</span>
        </a>
        <span class="tooltip">Vehicles</span>
      </li>
      <li class="profile">
        <div class="profile-details">
          <!--<img src="profile.jpg" alt="profileImg">-->
          <div class="name_job">
            <div class="name">UCM</div>
            <div class="job">TFG</div>
          </div>
        </div>
        <i class="bx bx-log-out" id="log_out"></i>
      </li>
    </ul>
  </div>