*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

section{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.grid-vehicles{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;

}