*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}

.container{
    margin: auto;
    height: 80%;
    width: 80%;
    background-color: black;
}