<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/sidebar-menu.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
   
    <%- include('../views/partials/sidebar-menu'); %>

    <section class="home-section">
      <div class="text">Dashboard</div>
    </section>
    
    <script src="/js/sidebar-animation.js"></script>

  </body>
</html>
